.default-color0.chart-pie { -fx-pie-color: #00BFFF; }
.default-color1.chart-pie { -fx-pie-color: #FF69B4; }
.default-color2.chart-pie { -fx-pie-color: #9370DB; }
.default-color3.chart-pie { -fx-pie-color: #FFFF00; }
.default-color4.chart-pie { -fx-pie-color: #7FFF00; }
.default-color5.chart-pie { -fx-pie-color: #7FFFD4; }
.default-color6.chart-pie { -fx-pie-color: #B0C4DE; }
.default-color7.chart-pie { -fx-pie-color: #FFFF00; }
.default-color8.chart-pie { -fx-pie-color: #EE82EE; }
.default-color9.chart-pie { -fx-pie-color: #FFE4B5; }

.chart-pie{
	-fx-clockwise: false;
}

.chart-pie:hover {
    -fx-border-color: red;
    -fx-border-width: 3px;
}

.radio-button {
	-fx-font-size: 18px;
}

.radio-button .dot {
    -fx-background-radius: 3px;
    -fx-padding: 2px;
}

#submit-button{
	-fx-font-size: 18;
	-fx-background-color: #B0C4DE;
	-fx-text-fill: #000000;
}

#SearchBox .text-field {
    -fx-background-color: white;
    -fx-background-insets: 1;
    -fx-background-radius: 15;
    -fx-padding: -9 5 -11 0;
    -fx-border-image-source: url("images/search-box.png");
    -fx-border-image-slice: 12 12 12 22 fill;
    -fx-border-image-width: 12 12 12 22;
    -fx-border-image-repeat: stretch; 
    -fx-font-size: 13px;
    -fx-prompt-text-fill: grey;
}

#SearchBox .text-field:focused {
    -fx-background-color: -fx-focus-color, white;
    -fx-background-insets: -1.4, 1;
    -fx-background-radius: 14.4;
}
#SearchBox .button {
    -fx-background-color: null;
    -fx-background-image: url("images/search-clear.png");
}
#SearchBox .button:hover {
    -fx-background-image: url("images/search-clear-over.png");
}
