AgreementMaker-OSGi/AgreementMaker-API/META-INF/
AgreementMaker-OSGi/AgreementMaker-API/target/
AgreementMaker-OSGi/AgreementMaker-BatchMode/META-INF/
AgreementMaker-OSGi/AgreementMaker-BatchMode/target/
AgreementMaker-OSGi/AgreementMaker-CollaborationClient/META-INF/
AgreementMaker-OSGi/AgreementMaker-CollaborationClient/target/
AgreementMaker-OSGi/AgreementMaker-Core/META-INF/
AgreementMaker-OSGi/AgreementMaker-Core/target/
AgreementMaker-OSGi/AgreementMaker-Distribution/target/
AgreementMaker-OSGi/AgreementMaker-IntegrationTests/target/
AgreementMaker-OSGi/AgreementMaker-Matchers/META-INF/
AgreementMaker-OSGi/AgreementMaker-Matchers/target/
AgreementMaker-OSGi/AgreementMaker-SemanticExplanation/META-INF/
AgreementMaker-OSGi/AgreementMaker-SemanticExplanation/target/
AgreementMaker-OSGi/AgreementMaker-UI/META-INF/
AgreementMaker-OSGi/AgreementMaker-UI/target/
AgreementMaker-OSGi/AgreementMaker-UIGlue/META-INF/
AgreementMaker-OSGi/AgreementMaker-UIGlue/target/
AgreementMaker-OSGi/AgreementMaker-UserFeedback/META-INF/
AgreementMaker-OSGi/AgreementMaker-UserFeedback/target/
AgreementMaker-OSGi/Matcher-AdvancedSimilarity/META-INF/
AgreementMaker-OSGi/Matcher-AdvancedSimilarity/target/
AgreementMaker-OSGi/Matcher-BaseSimilarity/META-INF/
AgreementMaker-OSGi/Matcher-BaseSimilarity/target/
AgreementMaker-OSGi/Matcher-Benchmarks2013/META-INF/
AgreementMaker-OSGi/Matcher-Benchmarks2013/target/
AgreementMaker-OSGi/Matcher-IMEI2013/META-INF/
AgreementMaker-OSGi/Matcher-IMEI2013/target/
AgreementMaker-OSGi/Matcher-LinkedOpenData/META-INF/
AgreementMaker-OSGi/Matcher-LinkedOpenData/target/
AgreementMaker-OSGi/Matcher-OAEI/META-INF/
AgreementMaker-OSGi/Matcher-OAEI/target/
AgreementMaker-OSGi/Matcher-PRA/META-INF/
AgreementMaker-OSGi/Matcher-PRA/target/
AgreementMaker-OSGi/target/
AgreementMaker-OSGi/provision/target/
.settings/
.project
.classpath
build.properties
AgreementMaker-OSGi/runner
AgreementMaker-OSGi/*.iml
AgreementMaker-OSGi/*/*.iml
.idea
