@(mappings: List[ServerCandidateMapping])

<html>
<body>
<center>
<table border="1" cellspacing="0" cellpadding="3">
<tr>
<th>ID</th>
<th>User</th>
<th>sourceURI</th>
<th>targetURI</th>
<th>timeSent</th>
<th>timeReceived</th>
<th>feedback</th>
<th>elapsed</th>
</tr>

@for(mapping <- mappings) {
	<tr>
		<td>@mapping.id</td>
		<td>@mapping.userId</td>
		<td>@mapping.sourceURI</td>
		<td>@mapping.targetURI</td>
		<td>@mapping.timeSent</td>
		<td>@mapping.timeReceived</td>
		<td>@mapping.feedback</td>
		<td>@mapping.getTimeInterval()</td>
	</tr>
}
</table>
</center>

</body>
</html>