<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<runtime>
		<library name="lib/arq-2.8.7.jar"/>
		<library name="lib/arq-legacy-2.8.7.jar"/>
		<library name="lib/cluster-gvm-1.1.jar"/>
		<library name="lib/commons-codec-1.4.jar"/>
		<library name="lib/commons-collections-3.2.1.jar"/>
		<library name="lib/commons-compress-1.4.1.jar"/>
		<library name="lib/commons-dbcp-1.3.jar"/>
		<library name="lib/commons-httpclient-3.1.jar"/>
		<library name="lib/commons-io-2.3.jar"/>
		<library name="lib/commons-lang-2.6.jar"/>
		<library name="lib/commons-logging-1.1.1.jar"/>
		<library name="lib/commons-pool-1.5.4.jar"/>
		<library name="lib/dom4j-1.6.1.jar"/>
		<library name="lib/HermiT-1.3.6.jar"/>
		<library name="lib/httpclient-4.1.2.jar"/>
		<library name="lib/httpcore-4.2.1.jar"/>
		<library name="lib/icu4j-3.4.4.jar"/>
		<library name="lib/iri-0.8.jar"/>
		<library name="lib/java-cup-0.11a.jar"/>
		<library name="lib/javaplot-0.4.0.jar"/>
		<library name="lib/jaws-1.3.jar"/>
		<library name="lib/jena-2.6.4.jar"/>
		<library name="lib/jide-oss-2.11.1.jar"/>
		<library name="lib/jopt-simple-4.3.jar"/>
		<library name="lib/json-jena-1.0.jar"/>
		<library name="lib/jsr311-api-1.1.1.jar"/>
		<library name="lib/junit-4.5.jar"/>
		<library name="lib/jwnl-1.4_rc3.jar"/>
		<library name="lib/kitfox-svg-core-1.0.0-build001.jar"/>
		<library name="lib/log4j-1.2.13.jar"/>
		<library name="lib/lucene-core-2.3.1.jar"/>
		<library name="lib/lucene-legacy-core-2.3.1.jar"/>
		<library name="lib/relaxngDatatype-20020414.jar"/>
		<library name="lib/sdb-1.3.4.jar"/>
		<library name="lib/secondstring-20120620.jar"/>
		<library name="lib/sesame-http-client-2.6.8.jar"/>
		<library name="lib/sesame-http-protocol-2.6.8.jar"/>
		<library name="lib/sesame-model-2.6.8.jar"/>
		<library name="lib/sesame-query-2.6.8.jar"/>
		<library name="lib/sesame-queryalgebra-evaluation-2.6.8.jar"/>
		<library name="lib/sesame-queryalgebra-model-2.6.8.jar"/>
		<library name="lib/sesame-queryparser-api-2.6.8.jar"/>
		<library name="lib/sesame-queryparser-serql-2.6.8.jar"/>
		<library name="lib/sesame-queryresultio-api-2.6.8.jar"/>
		<library name="lib/sesame-queryresultio-sparqlxml-2.6.8.jar"/>
		<library name="lib/sesame-repository-api-2.6.8.jar"/>
		<library name="lib/sesame-repository-http-2.6.8.jar"/>
		<library name="lib/sesame-repository-sail-2.6.8.jar"/>
		<library name="lib/sesame-repository-sparql-2.6.8.jar"/>
		<library name="lib/sesame-rio-api-2.6.8.jar"/>
		<library name="lib/sesame-rio-n3-2.6.8.jar"/>
		<library name="lib/sesame-rio-ntriples-2.6.8.jar"/>
		<library name="lib/sesame-rio-rdfxml-2.6.8.jar"/>
		<library name="lib/sesame-rio-trig-2.6.8.jar"/>
		<library name="lib/sesame-rio-turtle-2.6.8.jar"/>
		<library name="lib/sesame-sail-api-2.6.8.jar"/>
		<library name="lib/sesame-sail-inferencer-2.6.8.jar"/>
		<library name="lib/sesame-sail-memory-2.6.8.jar"/>
		<library name="lib/sesame-sail-rdbms-2.6.8.jar"/>
		<library name="lib/sesame-util-2.6.8.jar"/>
		<library name="lib/simmetrics-1.6.2.jar"/>
		<library name="lib/simpack-0.91.jar"/>
		<library name="lib/slf4j-api-1.5.8.jar"/>
		<library name="lib/slf4j-log4j12-1.5.8.jar"/>
		<library name="lib/stax-api-1.0.1.jar"/>
		<library name="lib/tdb-0.8.9.jar"/>
		<library name="lib/weka-stable-3.6.7.jar"/>
		<library name="lib/wstx-asl-3.2.9.jar"/>
		<library name="lib/xercesImpl-2.7.1.jar"/>
		<library name="lib/xz-1.0.jar"/>
	</runtime>
</plugin>
